'.source.coffee':
  'NSIS: Create .atom-build.cson':
    prefix: 'NSIS: Create .atom-build.cson (Wine)'
    body: """
      name: "${1:${2:file_name}.nsi}"
      cmd: "~/.atom/packages/build-makensis-wine/lib/makensis-wine.sh"
      args: [
          $3"{FILE_ACTIVE}"$4
      ],
      sh: ${5:true}
      cwd: "{FILE_ACTIVE_PATH}"
      "errorMatch": "(\\\\\\\\((?<r?\\\\\\\\((?<n)(?<message>.+)(\\\\\\\\((?<r?\\\\\\\\((?<n)Error in script \\\\"(?<file>[^\\\\"]+)\\\\" on line (?<line>\\\\\\\\((?<d+) -- aborting creation process"
      "warningMatch": "[^!]warning: (?<message>.*) \\\\\\\\((?<file>(\\\\\\\\((?<w{1}:)?[^:]+):(?<line>\\\\\\\\((?<d+)\\\\\\\\((?<)"$6
      $7
    """
'.source.json':
  'NSIS: Create .atom-build.json':
    prefix: 'NSIS: Create .atom-build.json (Wine)'
    body: """
      {
        "name": "${1:${2:file_name}.nsi}",
        "cmd": "~/.atom/packages/build-makensis-wine/lib/makensis-wine.sh",
        "args": [
            $3"{FILE_ACTIVE}"$4
        ],
        "sh": ${5:true},
        "cwd": "{FILE_ACTIVE_PATH}",
        "errorMatch": "(\\\\\\\\((?<r?\\\\\\\\((?<n)(?<message>.+)(\\\\\\\\((?<r?\\\\\\\\((?<n)Error in script \\\\"(?<file>[^\\\\"]+)\\\\" on line (?<line>\\\\\\\\((?<d+) -- aborting creation process",
        "warningMatch": "[^!]warning: (?<message>.*) \\\\\\\\((?<file>(\\\\\\\\((?<w{1}:)?[^:]+):(?<line>\\\\\\\\((?<d+)\\\\\\\\((?<)"$6
      }
      $7
    """
'.source.yaml':
  'NSIS: Create .atom-build.yml':
    prefix: 'NSIS: Create .atom-build.yml (Wine)'
    body: """
      name: "${1:${2:file_name}.nsi}"
      cmd: "~/.atom/packages/build-makensis-wine/lib/makensis-wine.sh"
      args:
        - $3"{FILE_ACTIVE}"$4
      sh: ${5:true}
      cwd: "{FILE_ACTIVE_PATH}"
      errorMatch: "(\\\\\\\\((?<r?\\\\\\\\((?<n)(?<message>.+)(\\\\\\\\((?<r?\\\\\\\\((?<n)Error in script \\\\"(?<file>[^\\\\"]+)\\\\" on line (?<line>\\\\\\\\((?<d+) -- aborting creation process"
      warningMatch: "[^!]warning: (?<message>.*) \\\\\\\\((?<file>(\\\\\\\\((?<w{1}:)?[^:]+):(?<line>\\\\\\\\((?<d+)\\\\\\\\((?<)"$6
      $7
    """
